{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>draw</title>

    <link rel="stylesheet" type="text/css" href="{% static 'draw/vendor/bootstrap/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'draw/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'draw/vendor/paper/paper-full.min.js' %}"></script>

    <style type="text/css">
        body {
         color: white;
         background-color: gray;
         font-family: 'proxima-nova', sans-serif;
        }
      .song_name{
        text-align: center;
      }
      .singer{
        text-align: center;
      }
      .play{
        text-align:center;
      }
      .download{
        padding-right:10px;
      }
      .download_number{
        padding-right:30px;
        padding-top:3px;
      }
      .small_play{
        padding-right: 10px;
        padding-top:3px;
      }
      .play_number{
        padding-top:5px;
      }
      .radio{
        padding-left : 100px;
      }
      
        
    </style>

</head>
<body>
  <div class = "container">
    <div class = "row">
      <div class = "col-md-6">
        <h1 class = "song_name">
          Chasing Pavement
        </h1>
        <h2 class = "singer">
          Adele
        </h2>
        <div class = "play">
        <a onclick="myAudioFunction('a');"><img src = "/static/Play_image.png" alt = "play" width="200" height="200"></a></div>
        <div class = "row">
          <div class = 'download'><img src = "/static/Download.png" alt = "download" width="50" height="50"></div>
          <h2 class = "download_number" style="width:100px;"><span id="adele_download_number"></span></h2>
          <div class = 'small_play'><img src = "/static/small_playbutton.png" alt = "small_play" width="50" height="50"></div>
           <h2 class = "play_number" style="width:100px;"><span id="adele_play_number"></span></h2>
          <a onclick="mydownloadFunction('a');"><div class = 'radio'><img src = "/static/radio.png" alt = "radio" width="50" height="50"></div></a>
        </div>
      </div>
      
      <div class = "col-md-6">
         <h1 class = "song_name">
          Yello
        </h1>
        <h2 class = "singer">
          Cold Play
        </h2>
        <div class = "play">
          <a onclick="myAudioFunction('c');"><img src = "/static/Play_image.png" alt = "play"width="200" height="200"></a></div>
       
         <div class = "row">
          <div class = 'download'><img src = "/static/Download.png" alt = "download" width="50" height="50"></div>
          <h2 class = "download_number" style="width:100px;"><span id="coldplay_download_number"></span></h2>
          <div class = 'small_play'><img src = "/static/small_playbutton.png" alt = "small_play" width="50" height="50"></div>
           <h2 class = "play_number" style="width:100px;"><span id="coldplay_play_number"></span></h2>
           <a onclick="mydownloadFunction('c');"><div class = 'radio'><img src = "/static/radio.png" alt = "radio" width="50" height="50"></div></a>
        </div>
      
      </div>
    </div>
    <br>
    <br>
   
    <div class = "row">
      <div class = "col-md-6">
         <h1 class = "song_name">
          Stay
        </h1>
        <h2 class = "singer">
          Rihanna
        </h2>
        <div class = "play">
          <a onclick="myAudioFunction('r');"><img src = "/static/Play_image.png" alt = "play"width="200" height="200" ></a></div>
       
          <div class = "row">
          <div class = 'download'><img src = "/static/Download.png" alt = "download" width="50" height="50"></div>
           <h2 class = "download_number" style="width:100px;"><span id="rihanna_download_number"></span></h2>
           <div class = 'small_play'><img src = "/static/small_playbutton.png" alt = "small_play" width="50" height="50"></div>
            <h2 class = "play_number" style="width:100px;"><span id="rihanna_play_number"></span></h2>
            <a onclick="mydownloadFunction('r');"><div class = 'radio'><img src = "/static/radio.png" alt = "radio" width="50" height="50"></div></a>
          </div>
        
        
      </div>
      <div class = "col-md-6">
        <h1 class = "song_name">
          I'm Not The Only One
        </h1>
        <h2 class = "singer">
          Sam Smith
        </h2>
        <div class = "play">
          <a onclick="myAudioFunction('s');"><img src = "/static/Play_image.png" alt = "play"width="200" height="200"></a></div>
       
          <div class = "row">
          <div class = 'download'><img src = "/static/Download.png" alt = "download" width="50" height="50"></div>
            <h2 class = "download_number" style="width:100px;"><span id="sam_download_number"></span></h2>
            <div class = 'small_play'><img src = "/static/small_playbutton.png" alt = "small_play" width="50" height="50"></div>
            <h2 class = "play_number" style="width:100px;"><span id="sam_play_number"></span></h2>
            <a onclick="mydownloadFunction('s');"><div class = 'radio'><img src = "/static/radio.png" alt = "radio" width="50" height="50"></div></a>
          </div>
       
      </div>
    </div>
  </div>
  
     
</body>
<script>
  $( document ).ready(function() {
     document.getElementById("adele_play_number").innerHTML = 2000;
     document.getElementById("coldplay_play_number").innerHTML = 1600;
     document.getElementById("rihanna_play_number").innerHTML = 1700;
     document.getElementById("sam_play_number").innerHTML = 1800;
     document.getElementById("adele_download_number").innerHTML = 2000;
     document.getElementById("coldplay_download_number").innerHTML = 1600;
     document.getElementById("rihanna_download_number").innerHTML = 1700;
     document.getElementById("sam_download_number").innerHTML = 1800;
    
  });
  
    var socket = new WebSocket('wss://p3-websockets-chrischi99-chrischicc9921376.codeanyapp.com/ws/draw');
  
  
  
  
  
  
  
  var adele_download= 2000;
  var coldplay_download= 1600;
  var rihanna_download= 1700;
  var sam_download= 1800;
  var adele_play= 2000;
  var coldplay_play= 1600;
  var rihanna_play= 1700;
  var sam_play= 1800;
  
  var regular_a = new Audio("/static/Songs/Regular/adele.mp3");
  var regular_c = new Audio("/static/Songs/Regular/coldplay.mp3");
  var regular_r = new Audio("/static/Songs/Regular/rihanna.mp3");
  var regular_s = new Audio("/static/Songs/Regular/smith.mp3");
  function myAudioFunction(letter) {
         if(letter == 'a') {
             regular_a.play();
             regular_c.pause();
             regular_c.currentTime = 0;
             regular_r.pause();
             regular_r.currentTime = 0;
             regular_s.pause();
             regular_s.currentTime = 0;
             adele_play ++;
             document.getElementById("adele_play_number").innerHTML = adele_play;
         } else if(letter == 'c') {
             regular_c.play();
             regular_a.pause();
             regular_a.currentTime = 0;
             regular_r.pause();
             regular_r.currentTime = 0;
             regular_s.pause();
             regular_s.currentTime = 0;
             coldplay_play ++;
             document.getElementById("coldplay_play_number").innerHTML = coldplay_play;
         }
          else if (letter == 'r'){
             regular_r.play();
             regular_a.pause();
             regular_a.currentTime = 0;
             regular_c.pause();
             regular_c.currentTime = 0;
             regular_s.pause();
             regular_s.currentTime = 0;
             rihanna_play ++;
             document.getElementById("rihanna_play_number").innerHTML = rihanna_play;
          }
         else{
             regular_s.play();
             regular_c.pause();
             regular_c.currentTime = 0;
             regular_r.pause();
             regular_r.currentTime = 0;
             regular_a.pause();
             regular_a.currentTime = 0;
             sam_play ++;
             document.getElementById("sam_play_number").innerHTML = sam_play;
         }
     }
 function mydownloadFunction(letter) {
      if(letter == 'a') {
             adele_download ++;
             document.getElementById("adele_download_number").innerHTML = adele_download;
         } else if(letter == 'c') {
             coldplay_download ++;
             document.getElementById("coldplay_download_number").innerHTML = coldplay_download;
         }
          else if (letter == 'r'){
             rihanna_download ++;
             document.getElementById("rihanna_download_number").innerHTML = rihanna_download;
          }
         else{
             sam_download ++;
             document.getElementById("sam_download_number").innerHTML = sam_download;
         }
     
  }

</script>
</html>