{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>draw</title>

    <link rel="stylesheet" type="text/css" href="{% static 'draw/vendor/bootstrap/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'draw/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'draw/vendor/paper/paper-full.min.js' %}"></script>

    <style type="text/css">
        body {
         color: white;
         background-color: gray;
         font-family: 'proxima-nova', sans-serif;
        }
      .song_name{
        text-align: center;
      }
      .singer{
        text-align: center;
      }
      .play{
        text-align:center;
      }
      .download{
        padding-right:10px;
      }
      .download_number{
        padding-right:30px;
        padding-top:3px;
      }
      .small_play{
        padding-right: 10px;
        padding-top:3px;
      }
      .play_number{
        padding-top:5px;
      }
      .radio{
        padding-left : 100px;
      }
      .QR{
        text-align: right;
      }
      
        
    </style>

</head>
<body>
  <div class = "container">
     <div class = "row">
      <div class = "col-md-6">
         <h1 class = "song_name">
          Señorita
        </h1>
        <h2 class = "singer">
          Shawn Mendes
        </h2>
        <div class = "play">
          <a onclick="myAudioFunction('m');"><img src = "/static/Play_image.png" alt = "play"width="200" height="200" ></a></div>   
        <div class = "row">
            <h2>
              <h2 class = "follower_number" style="width:100px;">Followers:<span id="shawn_follower_number"></span></h2>
          </h2>
          <h2>
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
          </h2>
            <img id = "loading_Image_1" class = "QR" src = "/static/QR_1.png"  width = "75" height = "75" style = "visibility:hidden"/>
        </div>
          <div class = "row">
          <div class = 'download'><img src = "/static/Download.png" alt = "download" width="50" height="50"></div>
           <h2 class = "download_number" style="width:100px;"><span id="shawn_download_number"></span></h2>
           <div class = 'small_play'><img src = "/static/small_playbutton.png" alt = "small_play" width="50" height="50"></div>
            <h2 class = "play_number" style="width:100px;"><span id="shawn_play_number"></span></h2>
            <a onclick="mydownloadFunction('m');"><div class = 'radio'><img src = "/static/radio.png" alt = "radio" width="50" height="50"></div></a>
          </div>
        
        
      </div>
      <div class = "col-md-6">
        <h1 class = "song_name">
          Bad Guy
        </h1>
        <h2 class = "singer">
          Billie Eilish
        </h2>
        <div class = "play">
          <a onclick="myAudioFunction('b');"><img src = "/static/Play_image.png" alt = "play"width="200" height="200"></a></div>
            <div class = "row">
            <h2>
              Followers: 2000
          </h2>
          <h2>
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
          </h2>
            <img id = "loading_Image_2" class = "QR" src = "/static/QR_1.png"  width = "75" height = "75" style = "visibility:hidden"/>
        </div>
          <div class = "row">
          <div class = 'download'><img src = "/static/Download.png" alt = "download" width="50" height="50"></div>
            <h2 class = "download_number" style="width:100px;"><span id="Billie_download_number"></span></h2>
            <div class = 'small_play'><img src = "/static/small_playbutton.png" alt = "small_play" width="50" height="50"></div>
            <h2 class = "play_number" style="width:100px;"><span id="Billie_play_number"></span></h2>
            <a onclick="mydownloadFunction('b');"><div class = 'radio'><img src = "/static/radio.png" alt = "radio" width="50" height="50"></div></a>
          </div>
       
      </div>
    </div>
    <br>
    <br>
    <div class = "row">
      <div class = "col-md-6">
         <h1 class = "song_name">
          Sucker
        </h1>
        <h2 class = "singer">
          Jonas Brothers
        </h2>
        <div class = "play">
          <a onclick="myAudioFunction('j');"><img src = "/static/Play_image.png" alt = "play"width="200" height="200" ></a></div>
            <div class = "row">
            <h2>
              Followers: 2000
          </h2>
          <h2>
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
          </h2>
            <img id = "loading_Image_3" class = "QR" src = "/static/QR_1.png"  width = "75" height = "75" style = "visibility:hidden"/>
        </div>
          <div class = "row">
          <div class = 'download'><img src = "/static/Download.png" alt = "download" width="50" height="50"></div>
           <h2 class = "download_number" style="width:100px;"><span id="Jonas_download_number"></span></h2>
           <div class = 'small_play'><img src = "/static/small_playbutton.png" alt = "small_play" width="50" height="50"></div>
            <h2 class = "play_number" style="width:100px;"><span id="Jonas_play_number"></span></h2>
            <a onclick="mydownloadFunction('j');"><div class = 'radio'><img src = "/static/radio.png" alt = "radio" width="50" height="50"></div></a>
          </div>
        
        
      </div>
      <div class = "col-md-6">
        <h1 class = "song_name">
          Talk
        </h1>
        <h2 class = "singer">
          Khalid
        </h2>
        <div class = "play">
          <a onclick="myAudioFunction('k');"><img src = "/static/Play_image.png" alt = "play"width="200" height="200"></a></div>
            <div class = "row">
            <h2>
              Followers: 2000
          </h2>
          <h2>
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
          </h2>
            <img id = "loading_Image_4" class = "QR" src = "/static/QR_1.png"  width = "75" height = "75" style = "visibility:hidden"/>
        </div>
          <div class = "row">
          <div class = 'download'><img src = "/static/Download.png" alt = "download" width="50" height="50"></div>
            <h2 class = "download_number" style="width:100px;"><span id="Khalid_download_number"></span></h2>
            <div class = 'small_play'><img src = "/static/small_playbutton.png" alt = "small_play" width="50" height="50"></div>
            <h2 class = "play_number" style="width:100px;"><span id="Khalid_play_number"></span></h2>
            <a onclick="mydownloadFunction('k');"><div class = 'radio'><img src = "/static/radio.png" alt = "radio" width="50" height="50"></div></a>
          </div>
       
      </div>
    </div>
    <br>
    <br>
    <div class = "row">
      <div class = "col-md-6">
        <h1 class = "song_name">
          Chasing Pavement
        </h1>
        <h2 class = "singer">
          Adele
        </h2>
        <div class = "play">
        <a onclick="myAudioFunction('a');"><img src = "/static/Play_image.png" alt = "play" width="200" height="200"></a></div>
          <div class = "row">
              <h2>
              <h2 class = "follower_number" style="width:100px;">Followers:<span id="adele_follower_number"></span></h2>
          </h2>
          <h2>
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
          </h2>
            <img id = "loading_Image_5" class = "QR" src = "/static/QR_1.png"  width = "75" height = "75" style = "visibility:hidden"/>
        </div>
        <div class = "row">
          <div class = 'download'><img src = "/static/Download.png" alt = "download" width="50" height="50"></div>
          <h2 class = "download_number" style="width:100px;"><span id="adele_download_number"></span></h2>
          <div class = 'small_play'><img src = "/static/small_playbutton.png" alt = "small_play" width="50" height="50"></div>
           <h2 class = "play_number" style="width:100px;"><span id="adele_play_number"></span></h2>
          <a onclick="mydownloadFunction('a');"><div class = 'radio'><img src = "/static/radio.png" alt = "radio" width="50" height="50"></div></a>
        </div>
      </div>
      
      <div class = "col-md-6">
         <h1 class = "song_name">
          Yello
        </h1>
        <h2 class = "singer">
          Cold Play
        </h2>
        <div class = "play">
          <a onclick="myAudioFunction('c');"><img src = "/static/Play_image.png" alt = "play"width="200" height="200"></a></div>
            <div class = "row">
            <h2>
              Followers: 2000
          </h2>
          <h2>
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
          </h2>
            <img id = "loading_Image_6" class = "QR" src = "/static/QR_1.png"  width = "75" height = "75" style = "visibility:hidden"/>
        </div>
         <div class = "row">
          <div class = 'download'><img src = "/static/Download.png" alt = "download" width="50" height="50"></div>
          <h2 class = "download_number" style="width:100px;"><span id="coldplay_download_number"></span></h2>
          <div class = 'small_play'><img src = "/static/small_playbutton.png" alt = "small_play" width="50" height="50"></div>
           <h2 class = "play_number" style="width:100px;"><span id="coldplay_play_number"></span></h2>
           <a onclick="mydownloadFunction('c');"><div class = 'radio'><img src = "/static/radio.png" alt = "radio" width="50" height="50"></div></a>
        </div>
      
      </div>
    </div>
    <br>
    <br>
   
    <div class = "row">
      <div class = "col-md-6">
         <h1 class = "song_name">
          Stay
        </h1>
        <h2 class = "singer">
          Rihanna
        </h2>
        <div class = "play">
          <a onclick="myAudioFunction('r');"><img src = "/static/Play_image.png" alt = "play"width="200" height="200" ></a></div>
            <div class = "row">
            <h2>
              Followers: 2000
          </h2>
          <h2>
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
          </h2>
            <img id = "loading_Image_7" class = "QR" src = "/static/QR_1.png"  width = "75" height = "75" style = "visibility:hidden"/>
        </div>
          <div class = "row">
          <div class = 'download'><img src = "/static/Download.png" alt = "download" width="50" height="50"></div>
           <h2 class = "download_number" style="width:100px;"><span id="rihanna_download_number"></span></h2>
           <div class = 'small_play'><img src = "/static/small_playbutton.png" alt = "small_play" width="50" height="50"></div>
            <h2 class = "play_number" style="width:100px;"><span id="rihanna_play_number"></span></h2>
            <a onclick="mydownloadFunction('r');"><div class = 'radio'><img src = "/static/radio.png" alt = "radio" width="50" height="50"></div></a>
          </div>
        
        
      </div>
      <div class = "col-md-6">
        <h1 class = "song_name">
          I'm Not The Only One
        </h1>
        <h2 class = "singer">
          Sam Smith
        </h2>
        <div class = "play">
          <a onclick="myAudioFunction('s');"><img src = "/static/Play_image.png" alt = "play"width="200" height="200"></a></div>
            <div class = "row">
            <h2>
              Followers: 2000
          </h2>
          <h2>
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
          </h2>
            <img id = "loading_Image_8" class = "QR" src = "/static/QR_1.png"  width = "75" height = "75" style = "visibility:hidden"/>
        </div>
          <div class = "row">
          <div class = 'download'><img src = "/static/Download.png" alt = "download" width="50" height="50"></div>
            <h2 class = "download_number" style="width:100px;"><span id="sam_download_number"></span></h2>
            <div class = 'small_play'><img src = "/static/small_playbutton.png" alt = "small_play" width="50" height="50"></div>
            <h2 class = "play_number" style="width:100px;"><span id="sam_play_number"></span></h2>
            <a onclick="mydownloadFunction('s');"><div class = 'radio'><img src = "/static/radio.png" alt = "radio" width="50" height="50"></div></a>
          </div>
       
      </div>
    </div>
  </div>
  
     
</body>
<script>
  //initiate the numbers
  $( document ).ready(function() {
    //adele
     document.getElementById("adele_play_number").innerHTML = 2000;
     document.getElementById("adele_download_number").innerHTML = 2000;
     document.getElementById("adele_follower_number").innerHTML = 524;
    //coldplay
     document.getElementById("coldplay_play_number").innerHTML = 1600;
     document.getElementById("coldplay_download_number").innerHTML = 1600;
    //rihanna
     document.getElementById("rihanna_play_number").innerHTML = 1700;
     document.getElementById("rihanna_download_number").innerHTML = 1700;
    //sam
     document.getElementById("sam_play_number").innerHTML = 1800;
     document.getElementById("sam_download_number").innerHTML = 1800;
    //shawn
     document.getElementById("shawn_download_number").innerHTML = 3800;
     document.getElementById("shawn_play_number").innerHTML = 8800;
     document.getElementById("shawn_follower_number").innerHTML = 1726;
    //billie
     document.getElementById("Billie_download_number").innerHTML = 3800;
     document.getElementById("Billie_play_number").innerHTML = 7200;
    //jonas
     document.getElementById("Jonas_download_number").innerHTML = 2800;
     document.getElementById("Jonas_play_number").innerHTML = 6250;
    //khalid
     document.getElementById("Khalid_download_number").innerHTML = 3000;
     document.getElementById("Khalid_play_number").innerHTML = 5820;
  });
  
  

  //download and play variables
  //adele 
  var adele_download= 2000;
  var adele_play= 2000;
  var adele_follower = 524;
  //coldplay
  var coldplay_download= 1600;
  var coldplay_play= 1600;
  //rihanna
  var rihanna_download= 1700;
  var rihanna_play= 1700;
  //sam
  var sam_download= 1800;
  var sam_play= 1800;
  //shawn
  var shawn_play= 8800;
  var shawn_download= 3800;
  var shawn_follower = 1726;
  //billie
  var Billie_play= 7200;
  var Billie_download= 3800;
  //jonas
  var Jonas_play= 6250;
  var Jonas_download= 2800;
  //khalid
  var Khalid_play= 5820;
  var Khalid_download= 3000;
  
  //regular audio files 
  var regular_a = new Audio("/static/Songs/Regular/adele.mp3");
  var regular_c = new Audio("/static/Songs/Regular/coldplay.mp3");
  var regular_r = new Audio("/static/Songs/Regular/rihanna.mp3");
  var regular_s = new Audio("/static/Songs/Regular/smith.mp3");
  var regular_m = new Audio("/static/Songs/Regular/shawn.m4a");
  var regular_b = new Audio("/static/Songs/Regular/billie.m4a");
  var regular_j = new Audio("/static/Songs/Regular/jonas.m4a");
  var regular_k = new Audio("/static/Songs/Regular/khalid.m4a");
  //intro audio files
//   var regular_a = new Audio("/static/Songs/Intro/adele.mp3");
//   var regular_c = new Audio("/static/Songs/Intro/coldplay.mp3");
//   var regular_r = new Audio("/static/Songs/Intro/rihanna.mp3");
//   var regular_s = new Audio("/static/Songs/Intro/smith.mp3");
//   var regular_m = new Audio("/static/Songs/Intro/shawn.m4a");
//   var regular_b = new Audio("/static/Songs/Intro/billie.m4a");
//   var regular_j = new Audio("/static/Songs/Intro/jonas.m4a");
//   var regular_k = new Audio("/static/Songs/Intro/khalid.m4a");

  var a_count = 0;
  var c_count = 0;
  var r_count = 0;
  var s_count = 0;
  var m_count = 0;
  var b_count = 0;
  var j_count = 0;
  var k_count = 0;
  
      function stopmusic(){
               regular_a.pause();
               regular_a.currentTime = 0;
               regular_c.pause();
               regular_c.currentTime = 0;
               regular_r.pause();
               regular_r.currentTime = 0;
               regular_s.pause();
               regular_s.currentTime = 0;
               regular_m.pause();
               regular_m.currentTime = 0;
               regular_b.pause();
               regular_b.currentTime = 0;
               regular_j.pause();
               regular_j.currentTime = 0;
               regular_k.pause();
               regular_k.currentTime = 0;   
       }
  function myAudioFunction(letter) {
         if(letter == 'a' && a_count === 0) {
             a_count = 1;
             regular_a.play();
             regular_c.pause();
             regular_c.currentTime = 0;
             regular_r.pause();
             regular_r.currentTime = 0;
             regular_s.pause();
             regular_s.currentTime = 0;
             regular_m.currentTime = 0;
             regular_m.pause();
             regular_b.currentTime = 0;
             regular_b.pause();
             regular_j.currentTime = 0;
             regular_j.pause();
             regular_k.pause();
             regular_k.currentTime = 0;
             adele_play ++;
             document.getElementById("adele_play_number").innerHTML = adele_play;
         } else if (letter == 'a' && a_count === 1){
              stopmusic ();
              a_count = 0;
         }
          else if(letter == 'c' && c_count === 0) {
             c_count = 1;
             regular_c.play();
             regular_a.pause();
             regular_a.currentTime = 0;
             regular_r.pause();
             regular_r.currentTime = 0;
             regular_s.pause();
             regular_s.currentTime = 0;
             regular_m.currentTime = 0;
             regular_m.pause();
             regular_b.currentTime = 0;
             regular_b.pause();
             regular_j.currentTime = 0;
             regular_j.pause();
             regular_k.pause();
             regular_k.currentTime = 0;
             coldplay_play ++;
             document.getElementById("coldplay_play_number").innerHTML = coldplay_play;
         }
         else if (letter == 'c' && c_count === 1){
              stopmusic ();
              c_count = 0;
         }
          else if (letter == 'r' && r_count === 0){
             r_count = 1;
             regular_r.play();
             regular_a.pause();
             regular_a.currentTime = 0;
             regular_c.pause();
             regular_c.currentTime = 0;
             regular_s.pause();
             regular_s.currentTime = 0;
             regular_m.currentTime = 0;
             regular_m.pause();
             regular_b.currentTime = 0;
             regular_b.pause();
             regular_j.currentTime = 0;
             regular_j.pause();
             regular_k.pause();
             regular_k.currentTime = 0;
             rihanna_play ++;
             document.getElementById("rihanna_play_number").innerHTML = rihanna_play;
          }
           else if (letter == 'r' && r_count === 1){
              stopmusic ();
              r_count = 0;
         }
         else if (letter == 's'&& s_count === 0 ) {
             s_count = 1;
             regular_s.play();
             regular_c.pause();
             regular_c.currentTime = 0;
             regular_r.pause();
             regular_r.currentTime = 0;
             regular_a.pause();
             regular_a.currentTime = 0;
             regular_m.currentTime = 0;
             regular_m.pause();
             regular_b.currentTime = 0;
             regular_b.pause();
             regular_j.currentTime = 0;
             regular_j.pause();
             regular_k.pause();
             regular_k.currentTime = 0;
             sam_play ++;
             document.getElementById("sam_play_number").innerHTML = sam_play;
         }
        else if (letter == 's' && s_count === 1){
              stopmusic ();
              s_count = 0;
         }
        else if(letter == 'm' && m_count === 0 ) {
             m_count = 1;
             regular_m.play();
             regular_a.pause();
             regular_a.currentTime = 0;
             regular_r.pause();
             regular_r.currentTime = 0;
             regular_s.pause();
             regular_s.currentTime = 0;
             regular_c.pause();
             regular_c.currentTime = 0;
             regular_b.pause();
             regular_b.currentTime = 0;
             regular_j.pause();
             regular_j.currentTime = 0;
             regular_k.pause();
             regular_k.currentTime = 0;
             shawn_play ++;
             document.getElementById("shawn_play_number").innerHTML = shawn_play;
         }
          else if (letter == 'm' && m_count === 1){
              stopmusic ();
              m_count = 0;
         }
          else if (letter == 'b' && b_count === 0){
             b_count = 1;
             regular_b.play();
             regular_a.pause();
             regular_a.currentTime = 0;
             regular_c.pause();
             regular_c.currentTime = 0;
             regular_s.pause();
             regular_s.currentTime = 0;
             regular_r.pause();
             regular_r.currentTime = 0;
             regular_m.pause();
             regular_m.currentTime = 0;
             regular_j.pause();
             regular_j.currentTime = 0;
             regular_k.pause();
             regular_k.currentTime = 0;
             Billie_play ++;
             document.getElementById("Billie_play_number").innerHTML = Billie_play;
          }
         else if (letter == 'b' && b_count === 1){
              stopmusic ();
              b_count = 0;
         }
         else if (letter == 'j' && j_count === 0) {
             j_count = 1;
             regular_j.play();
             regular_c.pause();
             regular_c.currentTime = 0;
             regular_r.pause();
             regular_r.currentTime = 0;
             regular_a.pause();
             regular_a.currentTime = 0;
             regular_s.pause();
             regular_s.currentTime = 0;
             regular_m.pause();
             regular_m.currentTime = 0;
             regular_b.pause();
             regular_b.currentTime = 0;
             regular_k.pause();
             regular_k.currentTime = 0;
             Jonas_play ++;
             console.log(Jonas_play);
             document.getElementById("Jonas_play_number").innerHTML = Jonas_play;
         }
         else if (letter == 'j' && j_count === 1){
              stopmusic ();
              j_count = 0;
         }
         else if (letter == 'k' && k_count === 0) {
             k_count = 1;
             regular_k.play();
             regular_c.pause();
             regular_c.currentTime = 0;
             regular_r.pause();
             regular_r.currentTime = 0;
             regular_a.pause();
             regular_a.currentTime = 0;
             regular_s.pause();
             regular_s.currentTime = 0;
             regular_m.pause();
             regular_m.currentTime = 0;
             regular_b.pause();
             regular_b.currentTime = 0;
             regular_j.pause();
             regular_j.currentTime = 0;
             Khalid_play ++;
             document.getElementById("Khalid_play_number").innerHTML = Khalid_play;
         }
        else if (letter == 'k' && k_count === 1){
              stopmusic ();
              k_count = 0;
         }
     }
  
  //download varaibles count
  var a_qr = 0;
  var c_qr = 0;
  var r_qr = 0;
  var s_qr = 0;
  var m_qr = 0;
  var b_qr = 0;
  var j_qr = 0;
  var k_qr = 0;
  
  
  
 //increase download number
 function mydownloadFunction(letter) {
      if(letter == 'a' && a_qr === 0) {
             a_qr = 1;
             adele_download ++;
             document.getElementById("adele_download_number").innerHTML = adele_download;
             document.getElementById("loading_Image_5").style.visibility = "visible";
         } 
         else if (letter == 'a' && a_qr === 1){
              a_qr = 0;
              document.getElementById("loading_Image_5").style.visibility = "hidden";
          }
         else if(letter == 'c' && c_qr === 0) {
             c_qr = 1;
             coldplay_download ++;
             document.getElementById("coldplay_download_number").innerHTML = coldplay_download;
             document.getElementById("loading_Image_6").style.visibility = "visible";
         }
          else if (letter == 'c' && c_qr === 1){
              c_qr = 0;
              document.getElementById("loading_Image_6").style.visibility = "hidden";
          }
          else if (letter == 'r' && r_qr === 0){
             r_qr = 1;
             rihanna_download ++;
             document.getElementById("rihanna_download_number").innerHTML = rihanna_download;
             document.getElementById("loading_Image_7").style.visibility = "visible";
          }
          else if (letter == 'r' && r_qr === 1){
              r_qr = 0;
              document.getElementById("loading_Image_7").style.visibility = "hidden";
          }
         else if (letter == 's'&& s_qr === 0) {
             s_qr = 1;
             sam_download ++;
             document.getElementById("sam_download_number").innerHTML = sam_download;
             document.getElementById("loading_Image_8").style.visibility = "visible";
         }
        else if (letter == 's' && s_qr === 1){
              s_qr = 0;
              document.getElementById("loading_Image_8").style.visibility = "hidden";
          }
         else if(letter == 'm' && m_qr === 0) {
             m_qr = 1;
             shawn_download ++;
             document.getElementById("shawn_download_number").innerHTML = shawn_download;
             document.getElementById("loading_Image_1").style.visibility = "visible";
         }
         else if (letter == 'm' && m_qr === 1){
              m_qr = 0;
              document.getElementById("loading_Image_1").style.visibility = "hidden";
          }
          else if (letter == 'b' && b_qr === 0){
             b_qr = 1;
             Billie_download ++;
             document.getElementById("Billie_download_number").innerHTML = Billie_download;
             document.getElementById("loading_Image_2").style.visibility = "visible";
          }
         else if (letter == 'b' && b_qr === 1){
              b_qr = 0;
              document.getElementById("loading_Image_2").style.visibility = "hidden";
          }
         else if (letter == 'j' && j_qr === 0 ) {
             j_qr = 1;
             Jonas_download ++;
             document.getElementById("Jonas_download_number").innerHTML = Jonas_download;
             document.getElementById("loading_Image_3").style.visibility = "visible";
         }
         else if (letter == 'j' && j_qr === 1){
              j_qr = 0;
              document.getElementById("loading_Image_3").style.visibility = "hidden";
          }
         else if (letter == 'k' && k_qr === 0) {
             k_qr = 1;
             Khalid_download ++;
             document.getElementById("Khalid_download_number").innerHTML = Khalid_download;
             document.getElementById("loading_Image_4").style.visibility = "visible";
         }
         else if (letter == 'k' && k_qr === 1){
              k_qr = 0;
              document.getElementById("loading_Image_4").style.visibility = "hidden";
          }
  }
  
     //initiate server
    var socket = new WebSocket('wss://p3-websockets-chrischi99-chrischicc9921376.codeanyapp.com/ws/draw');
    //recieve message
    socket.onmessage = function(receivedMessage) { 
      var Info = JSON.parse(receivedMessage.data);
      
      //update play number adele
      if (Info.user_id == 1){
        if (Info.play_number == 1){
            adele_play ++;
            document.getElementById("adele_play_number").innerHTML = adele_play;
            console.log('Song have play in screen 1');
        }
      }
     //update follow number adele
     if (Info.user_id == 1 && Info.update == 1){
       if (Info.follow_number == 1){
         //update adele follow number +1
         adele_follower++;
         document.getElementById("adele_follower_number").innerHTML = adele_follower;
       }
       else if (Info.follow_number == -1){
         adele_follower--;
         document.getElementById("adele_follower_number").innerHTML = adele_follower;
       }
     }
      //update play number shawn
       if (Info.update === "play" && Info.user_id === 2){
        if (Info.play_number === 1){
            shawn_play ++;
            document.getElementById("shawn_play_number").innerHTML = shawn_play;
            console.log('Song have play in screen 2');
        }
      }
      console.log(Info.user_id);
       console.log(Info.update);
      //update follow number shawn
       if (Info.user_id == 2){
          if (Info.update == 1){
         //update shawn follow number +1
         console.log("here?")
         shawn_follower++;
         document.getElementById("shawn_follower_number").innerHTML = shawn_follower;
       }
       else if (Info.follow_number == -1){
         //update shawn follow number -1
         shawn_follower--;
         document.getElementById("shawn_follower_number").innerHTML = shawn_follower;
       }
     }
    };

</script>
</html>