{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>P4 Drawing</title>

    <link rel="stylesheet" type="text/css" href="{% static 'draw/vendor/bootstrap/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'draw/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'draw/vendor/paper/paper-full.min.js' %}"></script>

    <style type="text/css">
      #myCanvas{
        border: 5px solid black;
      }
        
    </style>

</head>
<body>
    <!-- You may change the dimensions of this canvas -->
    <canvas id="myCanvas" width="1000px" height="1000px"></canvas>
</body>
<script>

    // setting up the canvas and one paper tool
    var canvas = document.getElementById('myCanvas');
    paper.setup(canvas);
    var tool = new paper.Tool();
  
     // getting the URL (you may want to use for Exercise 3)
    var url = window.location.href;
  
    // socket server
    var socket = new WebSocket('wss://p3-websockets-chrischi99-chrischicc9921376.codeanyapp.com/ws/draw');
    
    //generate id for users
    var user_id = Math.random();
  
    //generate random color 
     function random_Color() {
      var red = Math.floor(Math.random() * 256);
      var green = Math.floor(Math.random() * 256);
      var blue = Math.floor(Math.random() * 256);
      return 'rgb(' + red + "," + green + "," + blue + ')';
    }
  
    //color
    var user_color = random_Color();
  
    //path for writing lines
    var path = new paper.Path(); 
    path.strokeColor = user_color;
    path.strokeWidth = '3';
    
    //other paths
    var other_path = {
      id_number: path
    }
    
      //check if small screen
     if (url.indexOf("small") >-1){
        socket.onmessage = function(receivedMessage) {
              return;
        };
       
       // change color when rotate
       var gamma = 0;
       window.addEventListener('deviceorientation', (event) => {
        if (event.gamma > 30 && gamma < 30) {
           path.strokeColor = random_Color();
        }
         gamma = event.gamma;
       });
       
       window.addEventListener('devicemotion', (event) => {
        var x_acceleration = event.acceleration.x;
        var y_acceleration = event.acceleration.y;
        var z_acceleration = event.acceleration.z;
        if (Math.abs(x_acceleration > 10) || Math.abs(y_acceleration) >10 || Math.abs(z_acceleration) > 10){
          paper.project.clear();
        }
       });
     }
       
    else {
       socket.onmessage = function(receivedMessage) {
      var data = receivedMessage.data;
      var everything = JSON.parse(data);
       //check if the ID is the same as itself
      if (everything.id in other_path) {
        other_path[everything.id].add(new paper.Point(everything.x, everything.y));
      } else {
        other_path[everything.id] = new paper.Path();
        other_path[everything.id].strokeColor = everything.color;
        other_path[everything.id].strokeWidth = '3';
        other_path[everything.id].add(new paper.Point(everything.x, everything.y));
      }
    }
    }
  
    //mouse move draw lines
    tool.onMouseMove = function(event) {
      var info = {x: event.point.x, y: event.point.y, color: user_color, id: user_id};
      var jsonstr = JSON.stringify(info);
      socket.send(jsonstr);
      path.add(event.point);
    }
    
</script>
</html>
