{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>small_screen</title>

    <link rel="stylesheet" type="text/css" href="{% static 'draw/vendor/bootstrap/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'draw/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'draw/vendor/paper/paper-full.min.js' %}"></script>

    <style type="text/css">
      .name {
        font-size: 14pt;
        padding-left: 150px;
        padding-top: 10px;
      }
        
    </style>

</head>
<body>
  <div class="container">
  <div class="row">
    
    <div class="col-xs-4" style="padding-top:50px;">
      <br><br>
      <img src="https://is3-ssl.mzstatic.com/image/thumb/Purple114/v4/98/d8/36/98d836fd-e6cd-46b4-d1ce-27fefb72dd85/AppIcon-0-1x_U007emarketing-0-0-85-220-0-7.png/246x0w.jpg" 
           height="150" width="150">
    </div>
    
    <div class = "col-xs-8">
      
      <br><br>
      <div class = "row" style="padding-top:60px;">
        <h1 class = "name">Adele </h1>
        <button type="button" class="btn btn-primary" style="margin-left:100px;">Follow</button>
      </div>
       <div class = "row" style="padding-top:40px;">
        <h3 class = "name">64 Songs </h3>
        <button type="button" class="btn btn-light" style="margin-left:100px;">524 followers</button>
        <button type="button" class="btn btn-light" style="margin-left:100px;">128 following</button>
         
      </div>
      
      <div class = "row" style="padding-top:70px; padding-left: 0px"> 
        <h4>
          Adele the star
        </h4>
      </div>
      
      <div class = "row" style="padding-left: 150px"> 
        <p>
          32 yr old singer 🎤
        </p>
      </div>
      <div class = "row" style="padding-left: 150px"> 
        <p>
          📍 Queens
        </p>
      </div>
      <div class = "row" style="padding-left: 150px"> 
        <p>
          Music My Heart and Soul ♡
        </p>
      </div>
   </div>
      

    </div>
   </div>  

     
</body>
<script>

   
    
 
    
</script>
</html>